@import "./reset.css";
*{
  box-sizing: border-box;
}

header{
  height: 200px;
  background-color: orange;
}

footer{
  height: 200px;
  background-color:turquoise
}

article{
  max-width: 1200px;
  margin: 0 auto;
  text-justify: newspaper;
  font-size: 1.2em;
  line-height: 1.5;
}

p{
  column-width: 280px;
  column-rule: 2px solid black;
}